includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	level: max
	paths:
		- src
		- examples

	excludePaths:
		- examples/**/log/*
		- examples/**/temp/*

